.navbar {
    height: 95px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: transparent;
    top: 0;
    justify-content: space-between;
    z-index: 1;
    display: flex;
    color: #fff;

    transition-timing-function: ease-in;
    transition: all 0.6s;
}

.navbar__logo {
    padding: 15px;
    max-width: 65px;
}

.navbar__white {
    background-color: #fff;
}

.navbar__search {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar input {
    width: 250px;
}

.navbar__avatar {
    margin-right: 20px;
}

.navbar__userInfo {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.navbar__userName {
   margin-top: 5px;
   margin-right: 25px;
}
